html{
    scroll-behavior: smooth;
}

body{
  background-color: beige;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 30px;
  line-height: 1;
  padding: 30px 10px;
  text-align: center;
}

h2{
  font-size: 25px;
  line-height: 1.5;
}

nav li{
  display:inline;
  /* padding-left: 10px; */
  padding-bottom: 2.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav{
  /* background-color:#EC1D24; */
  background-color:black;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer{
  background-color: black;
  font-family: Helvetica, times;
  color: #EC1D24;
  padding: 20px 0;
  text-align: center;
}

header p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

nav a{
    color: #EC1D24;
    font-weight: bold;
    text-decoration: none;
  }

nav a:hover{
    color: goldenrod;
    text-decoration: underline;
  }

p{
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  padding: 0px 10px;
  }

.skip a{
    background: #EC1D24;
    left: 0;
    padding: 7px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  
    /*Your code here*/
    position: absolute;
    background-color: beige;
    top: -50px;
  }

.skip a:focus{
    /*Your code here*/
    top: 10px;
    position: static;
  }
/* .currpage{
  background-color: #EC1D24;
} */

.currpage a{
  /* color: black; */
  padding: 5px;
  border: #EC1D24 3px solid;
  /* animation: grow-shrink 2s infinite; */
}

@-webkit-keyframes grow-shrink{
  /*Your code here.*/
  0% {font-size: medium;}
  50% {font-size: larger;}
  100% {font-size: medium;}
}

@keyframes grow-shrink{
  /*Your code here.*/
  0% {font-size: medium;}
  50% {font-size: larger;}
  100% {font-size: medium;}
}

/* Index */

.home-image img{
  width: 95%;
  border: black 3px solid; 
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}

.home-text{
  padding: 20px 0px;
}

.home-text p{
  text-align: center;
  padding: 10px 7.5px;
}

/*History*/

.container{
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 20px;
  }

.p1, .p3{
    grid-column: 1;
  }

.p2, .p4{
    grid-column: 3;
  }

.p1-image, .p2-image, .p3-image, .p4-image{
    grid-column: 1 / -1;
    max-height: 450px;
    overflow:hidden;
    /* justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center; */
  }

.p1, .p1-image{
    grid-row: 1 / span 1;
}

.p2, .p2-image{
    grid-row: 2 / span 1;
}

.p3, .p3-image{
    grid-row: 3 / span 1;
}

.p4, .p4-image{
    grid-row: 4 / span 1;
}

.text{
    background-color: rgb(245, 245, 245, 0.75);
    font-family: Helvetica, sans-serif;
    border: 5px solid black;
    padding: 25px;
    align-self: center;
  }

/*Locations*/

.locations-text{
  text-align: center;
}
.gallery > img{
  width: 90%;
  border: 5px solid black;

  display: block;
  margin: 0 auto;
}

.gallery img:hover{
  /* border: 10px solid black; */
  filter: sepia(0%);
}
.gallery p{
  text-align: center;
  padding-top: 10px;
}

.appears{
  font-size: small;
  padding-bottom: 10px;
}

/* Heroes */
.heroes-text{
  text-align: center;
}

.heroes-text p{
  padding: 10px 10px;
}

.heroes-text img{
  width: 90%;

  display: block;
  margin: 0 auto;

  border: black 4px solid;
  border-radius: 10px;
}

.hero_links {
  color: maroon;
  text-decoration: maroon underline solid;
}

.villain_links {
  color: maroon;
  text-decoration: maroon underline solid;
}

/* Villains */
.villains-text{
  text-align: center;
}

.villains-text p{
  padding: 10px 10px;
}

.villains-list h2{
  text-align: center;
  padding-top: 20px;
}

.villains-list p{
  text-align: center;
  padding: 10px;
}

.villains-list img{
  width: 80%;

  display: block;
  margin: 0 auto;
}

.loki-img{
  border: green solid 5px;
  border-radius: 10px;
}

.ultron-img{
  border: slategray solid 5px;
  border-radius: 10px;
}

.killmonger-img{
  border: goldenrod solid 5px;
  border-radius: 10px;
}

.hela-img{
  border: #515455 solid 5px;
  border-radius: 10px;
}

.thanos-img{
  border: purple solid 5px;
  border-radius: 10px;
}
  /* @media all and (min-width: 880px){

    img{
       width:100%;
    }

    nav{
      padding: 30px 0px;
      text-align: right;
      align-self: center;
    }

    .container{
      display: grid;
      grid-template-columns: 350px 350px 350px 350px;
      grid-template-rows: 200px 200px 200px 200px;
      grid-template-areas: 
        ". . p1-image p1"
        "p2 p2-image . ."
        ". . p3-image p3"
        "p4 p4-image . .";
    }

    .p1-image { grid-area: p1-image; }
    .p1 { grid-area: p1; }
    .p2-image { grid-area: p2-image; }
    .p2 { grid-area: p2; }

    .p3-image { grid-area: p3-image; }
    .p3 { grid-area: p3; }
    .p4-image { grid-area: p4-image; }
    .p4 { grid-area: p4; }
  } */

  

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }

    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }

    /*Turn off parallax*/
    header{
      background-attachment: initial;
    }
}